<%= form_for(@enroll) do |f| %>
  <% if @enroll.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@enroll.errors.count, "error") %> prohibited this enroll from being saved:</h2>

      <ul>
      <% @enroll.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table>
     <tr>
       <td id="fields">
         <div class="field">
           <%= f.label :student_id %> <b>ID</b><br>
           <%= f.text_field :student_id %>
         </div>
         <div class="field">
           <%= f.label :course_id %><br>
           <%= f.text_field :course_id %>
         </div>
         <div class="field">
           <%= f.label :percentage %><br>
           <%= f.text_field :percentage %>
         </div>
         <div class="field">
           <b>Letter Grade</b> <br>
           <%= f.text_field :lettergrade %>
         </div>
       </td>
     </tr>
     <tr>
       <td id="links">
         <div class="actions">
           <%= f.submit %>
         </div>
       </td>
     </tr>
   </table>
 <% end %>
