<div id="listing">
<p id="notice"><%= notice %></p>
<br>
<p id="name">
  <strong>Course:</strong>
  <%= @course.course_id %>
</p>

<p id="desc">
  <strong>Description:</strong>
  <br>
  <%= @course.description %>
</p>
<%= link_to 'Edit', edit_course_path(@course) %>

<br>
<table>
  <thead>
    <tr>
      <th>Student ID</th>
      <th>Percentage</th>
      <th>Lettergrade</th>
    </tr>
  </thead>
  <tbody>
    <% @find1.each do |f1| %>
      <tr>
        <td><%= f1.student_id %></td>
        <td><%= f1.percentage %></td>
        <td><%= f1.lettergrade %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'Back', courses_path %>   |
<%= link_to 'Assign Grades',  course_myapp_path(@course)%>
</div>
